data
*/data/*
.ipynb_checkpoints
*/.ipynb_checkpoints/*
__pycache__
*/__pycache__/*


/model/onnx
/model/model_saving
*/model/onnx/*
*/model/model_saving/*

test.ipynb
Guide_V2_test.ipynb
file_descriptor.py
clean_up.ipynb
Visualization.ipynb

preprocess/preprocess_test.py
model/model_test.py
